.jumbotron {
    background-image: url("../img/banner11.png");
    background-repeat: no-repeat;
    margin: 0;
    border-radius: 0;
    background-position: center;
    background-size: contain;
    background-color:rgba(10, 10, 10, 0.5);
    
}

.bannerbg {
    background-color:rgba(10, 10, 10, 0.5);
    border-radius: 25px;
    padding-left: 100px;
    
    
}

.navbar {
    margin-top: 0;
}

.bannerwrapper {
    display: flex;
    justify-content: center;
}
.content img:hover {
    transform: scale(1.08);
}
.content img {
    width: 100%;
    border: 3px solid #201f2c;
    border-radius: 10%;
    transition: transform .2s
}
.contentTitle {
    color: rgb(116, 7, 7);
    text-align: center;
    font-weight: 800;
}

p {
    font-size: 12pt;
    color: white;
}
hr {
    border-color: rgb(0, 0, 0);
}

.bg-secondary {
    border-radius: 20px;
    border:solid;
}
.mainTitle {
    border-radius: 10px;
    
}
.col-12 {
    flex: 100%;
}